.newGameBtn {
  background-color: rgba(82, 78, 183, 1);
  color: white;
  width: 80%;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  border: none;
}

.newGameBtn:hover {
  background-color: rgba(82, 78, 183, 0.8);
}
